{% extends "base_generic.html" %}
{% block content %}
<div>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.youtube_url.errors }}
        <label for="{{ form.youtube_url.id_for_label }}">Youtube link:
        </label>
        {{ form.youtube_url }}
        <input type="submit" value="Submit" />
    </form>
</div>
<div class="container">
    <button onclick="">
        <i class="glyphicon glyphicon-play"></i>
        Play/Pause
    </button>
  
    <div class="volbox">
        Volume:<br/>
        <input id="volume" type="range" min="0" max="100" value="100" step="5">
    </div>
  
    <div id="equalizer" style="margin-top: 10px"></div>
  
</div>
<div>
    <ul>Queue</ul>
    <ul>
    {% for song in song_list %}
        <li>{{ song }}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}