{% extends "base_generic.html" %}
{% load static %}

{% block javascript %}
<script>
    function refreshView() {

        $.getJSON("{% url 'api-queue' %}", function( data ) {
            $("#songList").empty();
            $.each( data, function( i ) {
                song = data[i].fields;
                $("#songList").append( "<li>" + song.title + "</li>" );
            });
        });
    }

    $("#playButton").click(function () {
        $.get("{% url 'api-play' %}");
    });

    $("#pauseButton").click(function () {
        $.get("{% url 'api-pause' %}");
    });

    $("#nextButton").click(function () {
        $.get("{% url 'api-pop' %}");
        refreshView();
    });

    var interval = setInterval(refreshView, 5000);
</script>
{% endblock %}

{% block content %}
<div>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.youtube_url.errors }}
        <label for="{{ form.youtube_url.id_for_label }}">Youtube link:
        </label>
        {{ form.youtube_url }}
        <input type="submit" value="Submit" />
    </form>
</div>
<div class="controls">
    <button id="playButton" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-play"></span> Play
    </button>
    <button id="pauseButton" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-pause"></span> Pause
    </button>
    <button id="nextButton" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-fast-forward"></span> Next
    </button>
</div>
<div>
    <ul>Queue</ul>
    <ul id="songList">
    {% for song in song_list %}
        <li>{{ song }}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}