<html>
<head>
    <title>Tik Play</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body{
            margin: 0;
            padding: 0;
            height: 100vh;
        }

        header{
            text-align: center;
        }

        .player-btn{
            width: 49vw;
            height: 49vw;
            font-size: 40px;
        }

        .controls{
            padding-left: 0.5vw; 
            position: absolute;
            bottom: 0;
        }
    </style>
</head>

<body>
    
{% block content %}{% endblock %}
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>
